@font-face {
 font-family: 'FuentePrincipal';
    src:  url('fuentes/transfonter.org-20250306-163634/Pixel-Noir-Caps.woff2') format('woff2'),
    url('fuentes/transfonter.org-20250306-163634/Pixel-Noir-Caps.woff') format('woff'),
    url('fuentes/Pixel-Noir\ Caps.ttf') format('truetype');
}
@font-face {
    font-family: 'FuenteSegundaria';
    src: url('fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny-Caps.woff2') format('woff2'),
    url('fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny-Caps.woff') format('woff'),
    url('fuentes/Pixel-Noir\ Skinny\ Caps.ttf') format('truetype')
}
@font-face {
    font-family: 'FuenteTerciaria';
    src: url('fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny.woff2') format('woff2'),
    url('fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny.woff') format('woff'),
    url('fuentes/Pixel-Noir\ Skinny.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'FuenteSegundaria', sans-serif;
  
}
 #Brilla {
    font-family: 'FuentePrincipal', sans-serif;
    margin: 0;
    padding: 0;
 }
 header .direcciones{
    background-color: rgb(255,116,148,255);
    font-family: 'FuenteTerciaria', sans-serif;
    padding: 3px;
    font-size: 12px;
    color: rgb(255, 255, 255);
 }
 header .BarraInicio{
    background-color: rgba(255,174,201,255);
    color: white;
    padding: 20px;
 }
 header #Brilla ::before {
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('/pixeles/brilla.png') no-repeat center;
 }
 nav ul{
    list-style: none;       /* Elimina las viñetas de la lista */
    display: flex;          /* Usa flexbox para alinear elementos */
    justify-content:  ;/* Centra los elementos horizontalmente */

  }
nav li{
    gap: 12;
    margin: 0 10px;
  }
nav a {
    color: white;
    text-decoration: none;
}
