/* Fuentes foraneas a las del dispositivo */
@font-face {
    font-family: 'FuentePrincipal';
    src:  url('../fuentes/transfonter.org-20250306-163634/Pixel-Noir-Caps.woff2') format('woff2'),
    url('../fuentes/transfonter.org-20250306-163634/Pixel-Noir-Caps.woff')  format('woff'), 
    url('../fuentes/Pixel-Noir\ Caps.ttf') format('truetype');
}
@font-face {
    font-family: 'FuenteSegundaria';
    src: url('../fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny-Caps.woff2') format('woff2'),
    url('../fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny-Caps.woff') format('woff'),
    url('../fuentes/Pixel-Noir\ Skinny\ Caps.ttf') format('truetype');
}
@font-face {
    font-family: 'FuenteTerciaria';
    src: url('../fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny.woff2') format('woff2'),
    url('../fuentes/transfonter.org-20250306-163634/Pixel-Noir-Skinny.woff') format('woff'),
    url('../fuentes/Pixel-Noir\ Skinny.ttf') format('truetype');
}

/* Animación de Slider de barra de búsqueda */
@keyframes slider {
    0% {transform: translateY(-85px);}
    5% {transform: translateY(0px);}
    30% {transform: translateY(0px);}
    35% {transform: translateY(85px);}
    65% {transform: translateY(85px);}
    75% {transform: translateY(170px);}
    100% {transform: translateY(170px);}
}

/* Quitar margin y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente por defecto de toda la página */
body {
    font-family: 'FuenteSegundaria', sans-serif;
    overflow-x: hidden; /* Evitar que se desborde horizontalmente */
}

/* Diseño de "Brilla" */
nav ul #Brilla {
    font-family: 'FuentePrincipal', sans-serif;
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 10px; 
}

/* Estilo de las direcciones en el header */
header .direcciones {
    background-color: rgb(255,116,148,255);
    font-family: 'FuenteTerciaria', sans-serif;
    padding: 3px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

/* Barra de inicio */
.BarraInicio {
    display: flex;
    background-color: rgba(255,174,201,255);
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
}

/* Alineación del icono de "Brilla" */
header #Brilla::before {
    content: " ";
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url('../pixeles/brilla.png') no-repeat center;
    background-size: contain;
    margin-right: 10px;
}
/* Estilo de las etiquetas en la barra de navegación */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilo de los enlaces de la navegación */
nav a {
    font-size: 14px;
    color: rgb(95, 31, 70);
    text-decoration: none;
    white-space: nowrap;
    
}
/* Barra de búsqueda */
.BarraBusqueda {
    background: white;
    max-width: 400px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 75px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}

.BarraBusqueda input {
    flex: 1;
    padding: 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 16px;
}

.BarraBusqueda button img {
    width: 30px;
}

.BarraBusqueda button {
    padding: 5px 8px;
    border: none;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

/* Slider */
.slider {
    position: absolute;
    bottom: 0;
    left: 130px;
    animation: slider 5s linear infinite;
    
}

.slider div {
    height: 80px;
    display: flex;
    align-items: center;
}

.slider img {
    width: 38px;
}

.carrito{
    padding: 5px 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.carrito img {
    width: 50px;
}
/* Responsive: Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .BarraInicio {
        flex-direction: column;
        align-items: center;
    }

    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .BarraBusqueda {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    nav a {
        font-size: 14px;
    }

    .BarraBusqueda input {
        font-size: 14px;
    }
}
